<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATFAAjvm4t57CwmPtAOS-dJjlTIek41kE</string>
	<key>GCM_SENDER_ID</key>
	<string>936640374389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungdev.kltnMobile</string>
	<key>PROJECT_ID</key>
	<string>kltn-56ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>kltn-56ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936640374389:ios:bbb2c5ddd56c7ddb2cfa3c</string>
</dict>
</plist>